<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoredataTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC7BE0AE1C15639600E847A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC7BE0C71C15639700E847A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC7BE0D21C15639700E847A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
